.gitattributes
MurciaVR.lnk
*.mp4
*.cache
*.csproj
*.sln
.vsconfig
*.log
Library
Temp
.vs
.vscode
*.blend1

# Para que no suba la clave de la API de Bing Maps
MapSessionConfig.txt

# Zenject
Proyecto Unity/Assets/Plugins/Zenject
# KdTree
Proyecto Unity/Assets/Packages/KdTree.1.4.1

# Carpetas de Unity
Proyecto Unity/Build
Proyecto Unity/Library
Proyecto Unity/Logs

Recursos/Modelos/Titulo/MurciaVR.blend
